@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-M.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); /* Start from below the screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at its original position */
    opacity: 1;
  }
}



.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh; /* Default height for larger screens */
  background-color: #ffffff;
}

.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 400px; /* Default height for larger screens */
}

.carousel-item-text {
  font-size: 1.15rem; /* Default text size for larger screens */
  margin: 0px 0 20px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}

/* Carousel buttons and indicators styling */
.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
  background-color: #DA3C51;
  border-radius: 50%;
  padding: 5px;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 600px) {
  .carousel {
    width: 90%;
  }

  .App {
    height: 80vh; /* Increased height for smaller screens */
  }

  .carousel-item {
    height: 300px; /* Adjusted height for carousel items on smaller screens */
  }

  .carousel-item-text {
    font-size: 0.7rem; /* Smaller font size for readability on smaller screens */
  }
}



.custom-pdf-viewer {
  height: calc(75vh - 4rem); /* Adjust the 4rem according to your header/footer height */
}

.custom-pdf-page {
  display: inline-block; /* This can prevent extra vertical space */
  margin: 0 auto; /* Center the page if there's extra horizontal space */
}

.react-pdf__Page__canvas {
  margin: 0 auto; /* Ensures the canvas within the page has no extra margin */
}




/* Accordion styles */
input[type="checkbox"]:checked ~ .accordion-content {
  max-height: 1000px; /* Adjust as necessary */
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
