@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-M.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); /* Start from below the screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at its original position */
    opacity: 1;
  }
}
